

<div class="col-md-6">
    <h1>Guests</h1>

    <table class="table table-hover groups">
      <thead>
        <tr>
          <th>Новенький</th>
          <th>Прикрепить к группе</th>
        </tr>
      </thead>
      <tbody>
          <% @guests.each do |g| %>
            <tr>
              <td><%= g.email %></td>
              <td>
                <%= form_tag(action: "guest_to_group", method: "post") do %>
                  <%= select_tag(:group_id, options_from_collection_for_select(@groups, "id", "name"))%>
                    <%= button_tag do %>
                      <i class='fa fa-paperclip fa-2x'></i>
                      <%= hidden_field_tag :guest_id, g.id %>
                    <% end %>
                <% end %>

              </td>
            </tr>
          <% end %>

      </tbody>
    </table>
</div>
