<h2 class="page-header">
  Всего слов выучено <%= @true_answers %>
</h2>

<h2>Надо подучить</h2>
<table class="table table-hover text-center">
  <thead>
  <tr>
    <th>Слово на английском</th>
    <th>Перевод</th>
  </tr>
  </thead>
  <tbody>
  <% @errors.each do |error| %>
  <tr>
    <td><%= error['foreign_word'] %></td>
    <td><%= error['translate'] %></td>
  </tr>
  <% end %>
  </tbody>
</table>
