<div class="col-md-3">
  <h1>Levels</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Левел</th>
      </tr>
    </thead>
    <tbody>
      <% @levels.each do |level| %>
          <tr>
            <td>Level: <%= level.value %></td>
          </tr>
        <% end %>
    </tbody>
  </table>

  <%= form_for @level, url: { controller: "levels", action: "create"} do |f| %>
      <div class="form-group">
        <%= f.text_field :value, :class => "form-control" %>
      </div>

      <%= f.submit :class => "btn btn-info" %>
  <% end %>
</div>
