
<div class="col-md-6">
    <h1>TEACHERS</h1>

    <table class="table table-hover groups">
      <thead>
        <tr>
          <th>Преподаватель</th>

        </tr>
      </thead>
      <tbody>
          <% @teachers.each do |t| %>
            <tr>
              <td><%= t.email %></td>

            </tr>
          <% end %>

      </tbody>
    </table>
</div>
