<%= form_for(dictionary, remote: true) do |f| %>

    <div class="field form-group">
      <%= f.text_field :dict_name, :type => "text", :class => "form-control" %>
    </div>
    <div class="actions btn btn-default">
      <%= f.submit "Добвать словарь" %>
    </div>
<% end %>



