<%= form_for([@dictionary, @dictionary.words.build],  remote: true) do |f| %>

    <div class="row">
      <div class="col-md-6">
        <div class="field form-group">
          <%= f.text_field :foreign_word, :type => "text", :class => "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="field form-group">
          <%= f.text_field :translate, :type => "text", :class => "form-control" %>
        </div>
      </div>
    </div>

  <div class="actions">
    <%= f.submit "Добвать слово", :class => "btn btn-default" %>
  </div>
<% end %>






