$('#dialog h3').html("<i class='glyphicon glyphicon-plus'></i> Новое слово");

// Render the new form
$('.modal-body').html('<%= j render 'form', word: @word %> ');

// Show the dynamic dialog
$('#dialog').modal("show");
