<p id="notice"><%= notice %></p>

<p>
  <strong>Foreign word:</strong>
  <%= @word.foreign_word %>
</p>

<p>
  <strong>Translate:</strong>
  <%= @word.translate %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
