<div class="product-options">
  <a  id="myWish" href="javascript:;"  class="btn btn-mini" >Add to Wishlist </a>
  <a  href="" class="btn btn-mini"> Purchase </a>
</div>
<div class="alert alert-success" id="success-alert">
  <strong>Success! </strong>
  Product have added to your wishlist.
</div>