$('#dialog h3').html("<i class='glyphicon glyphicon-plus'></i> Название словаря");

// Render the new form
$('.modal-body').html('<%= j render 'form', dictionary: @dictionary %> ');

// Show the dynamic dialog
$('#dialog').modal("show");
