<div class="row">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <h4><%= @dictionary.dict_name %></h4>
    </div>
  </div>
  <table class="table table-striped table_words">
    <thead>
    <tr>
      <th>Слово <%= link_to(raw("<i class='fa fa-plus-circle fa-2x' aria-hidden='true'></i>"), new_dictionary_word_path(@dictionary), remote: true, 'data-toggle' => "modal", 'data-target' => "dialog") %></th>
      <th colspan="3">Перевод</th>

    </tr>
    </thead>
    <tbody>
    <% @words.each do |word| %>
        <tr>
          <td><%= word.foreign_word %></td>
          <td><%= word.translate %></td>
          <td class="text-right">
            <span><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></span><span><i class="fa fa-trash fa-2x" aria-hidden="true"></i></span>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
