<div class="col-md-5">
    <h1>Groups</h1>
    <table class="table table-hover groups">
      <thead>
        <tr>
          <th>Название группы</th>
          <th>Левел группы</th>
          <th>Количество человек</th>
          <th>Прикрепить группу к левлу</th>
        </tr>
      </thead>
      <tbody>
          <% @groups.each do |g| %>
            <tr>
              <td><%= g.name %></td>
              <td><%= g.level.value %></td>
              <td>12</td>
              <td>
                <%= form_tag(action: "join_to_level", method: "post") do %>
                  <%= select_tag(:level_id, options_from_collection_for_select(@levels, "id", "value"))%>
                    <%= hidden_field_tag(:group_id, g.id) %>
                    <%= button_tag do %>
                      <i class='fa fa-paperclip fa-2x'></i>
                    <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>

      </tbody>
    </table>

    <%= form_for @group, url: {controller: "groups", action: "create"} do |f| %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
            <%= f.text_field :name, :class => "form-control"%>
              <%= hidden_field_tag(:level_id, 2) %>
        </div>
      </div>
      <div class="col-md-4">
        <label>Выбрать левел: </label><%= f.select(:level_id, options_from_collection_for_select(@levels, "id", "value"))%>
      </div>
    </div>

    <div class="form-group">
        <%= f.submit "Создать группу", :class => "btn btn-info"%>
    </div>

    <% end %>
</div>
