// Place all the styles related to the dictionaries controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table_words {
  thead {
    tr {
      th:first-child {
        padding-left: 30px;
      }
      th:last-child {
        padding-right: 127px;
      }
    }


    display: block;
    width: 100%;

    tr, th {
      width: 100%;
    }

  }
  tbody {
    tr {
      td:first-child {
        padding-left: 30px;
      }

      td:nth-last-of-type(2) {
        padding-right: 90px !important;
      }
    }


    height: 500px;
    overflow-y: auto;
    display: block;
    width: 100%;

    tr, td {
      width: 100%;
    }
    tr {
      td {
        padding-left: 30px;
        padding-right: 20px !important;
      }
    }

  }

}


