<div class="col-md-6">
    <h1>Students</h1>

    <table class="table table-hover groups">
      <thead>
        <tr>
          <th>Студент</th>
          <th>Группа</th>
          <th>Преподаватель</th>
          <th>Прикрепить к группе</th>
        </tr>
      </thead>
      <tbody>
          <% @users.each do |u| %>
            <tr>
              <td><%= u.email %></td>
              <td><%= u.group.name %></td>
              <td>препод группы<%#= u.gorup.level.value %></td>
              <td>
                <%= form_tag(action: "join_to_group", method: "post") do %>
                  <%= select_tag(:group_id, options_from_collection_for_select(@groups, "id", "name"))%>
                    <%= button_tag do %>
                      <i class='fa fa-paperclip fa-2x'></i>
                        <%= hidden_field_tag :user_id, u.id %>
                    <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>

      </tbody>
    </table>
</div>
