<h1 class="text-center main_header_start">Выбрать словари для тренировки</h1>

<%= form_for(@trainer, url: {controller: 'trainers', action: 'start'}) do |f| %>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-tabs nav-justified">
          <li role="presentation" class="active">
            <a href="#">Мои словари</a>
          </li>
          <li role="presentation">
            <a href="#">Учебные словари</a>
          </li>
        </ul>
        <table class="table table-striped table_choose_dictionary">
          <tbody>
          <%= f.collection_check_boxes :dictionary_ids, @dictionaries, :id, :dict_name do |b| %>
              <tr>
                <td> <%= b.label %></td>
                <td><%= b.check_box %></td>
              </tr>
          <% end %>

          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h4>Выбрано всего словарей: <span>50</span></h4>
        <h4>Всего слов: <span>450</span></h4>
        <%= f.submit "Начать тренировку", :class => "btn btn-default btn-group-justified" %>
      </div>
    </div>

<% end %>

