<div class="jumbotron">
  <%= form_for :answer, class: 'text-center', url: {controller: 'testing', action: 'answer'}, method: 'post' do |f| %>

          <h1><%= @word %></h1>
          <div class="form-group">
            <%= f.text_field :answer, class: 'form-control', :autocomplete => :off %>
          </div>
          <div class="form-group">
            <%= f.submit "Далее", class: 'btn btn-info' %>
          </div>
  <% end %>

</div>



