<!DOCTYPE html>
<html lang="ru">
<head>
  <meta/>
  <meta/>
  <meta/>
  <title>
    <%= "WT" %>
  </title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= javascript_include_tag "application" %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements
  -->
  <!--[if lt IE 9]
  -->
</head>

<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" %>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= render 'dictionaries/dialog' %>

<% if user_signed_in? %>
    <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
<% else %>
    <% link_to "Войти", new_user_session_path %>
<% end %>

<div id="wrapper">
  <div id="sidebar-wrapper">
    <div class="nickname">
      <%= image_tag "http://placehold.it/250x160", class: "img-responsive" %>
      <p class="text-center"><%= current_user.email %></p>
    </div>

        <ul class="nav nav-tabs nav-justified">
          <li class="active" role="presentation">
            <a href="#">Мои</a>
          </li>
          <li role="presentation">
            <a href="#">Учебные</a>
          </li>
        </ul>
        <ul class="sidebar-nav">
          <li>
            <% if user_signed_in? %>
              <%= render 'dictionaries/all' %>
            <% end %>
          </li>
        </ul>

    <footer class="footer_menu">
      <div class="add_dict">
        <%= link_to(raw("<i class='fa fa-plus-circle fa-3x'></i>"), new_dictionary_path, remote: true, 'data-toggle' => "modal", 'data-target' => "dialog") %>
      </div>
      <ul class="sidebar-nav">
        <li>
          <%= link_to 'Архив выученных слов', root_url %>
        </li>
      </ul>
    </footer>

  </div>
  <div id="page-content-wrapper">
    <ul class="nav nav-tabs nav-justified top_main_buttons">
      <li role="presentation">
        <%= link_to "Тренировка слов", root_path %>
      </li>
      <li role="presentation">
        <a href="#">Полная статистика</a>
      </li>
    </ul>

    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-12">

          <%= yield %>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>
