<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <style>

      /* Email styles need to be inline */

    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
