<!DOCTYPE html>
<html lang="ru">
<head>
  <meta/>
  <meta/>
  <meta/>
  <title>
    <%= "WT" %>
  </title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= javascript_include_tag "application" %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements
  -->
  <!--[if lt IE 9]
  -->
</head>

<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" %>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<div class="container-fluid">

  <div class="row text-center">

    <div class="col-lg-offset-4 col-lg-4">

      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
